[user]
	name = David Bitonneau
	email = david.bitonneau@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	unstage = "reset HEAD"
[diff]
	tool = gvimdiff
[difftool]
	prompt = false
[merge]
	tool = gvimdiff
[core]
	excludesfile = ~/.gitignore
